<div class="main">
    <!-- Search begin -->
    <div class="main-header">
        <div class="header">
            <div class="input-search">
                <form [formGroup]="formSearch" class=" navbar-search">
                    <div class="input-group">
                        <!-- inputNull() set here to make search area empty -->
                        <input (input)="inputNull()" [(ngModel)]="searchName" type="text"
                            class="form-control bg-light border-0 small" formControlName="Search"
                            placeholder="Search here..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button" (click)="search()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Search end -->

    <!-- Table begin -->
    <div>
        <table class="table">
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Publisher</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tbody *ngFor="let books of books1  ">
                <tr>
                    <td>{{ books.bookname }}</td>
                    <td>{{ books.author }}</td>
                    <td>{{books.price }}(vnd)</td>
                    <td>{{ books.description }}</td>
                    <td>{{ books.category }}</td>
                    <td>{{ books.publisher }}</td>
                    <td>{{ books.status }}</td>
                    <td class="btn">
                        <div class="btn-edit">
                            <!-- <button class="btn-edit-style btn-style" (click)="edit(books)">Edit</button> -->
                            <button class="btn-edit-style btn-style" (click)="edit()">Edit</button>
                        </div>
                        <div class="btn-detele">
                            <button class="btn-delete-style btn-style" (click)="delete($event,books)">Delete</button>
                        </div>
                    </td>
                </tr>

                <!-- <div *ngIf="editState && booksToEdit.id== books.id">
                    <form [formGroup]="formUpdate">
                        <table class="update-form">
                            <h2>UPDATE</h2>
                            <div class="bookname">
                                <label for="bookname">Book Name</label><br>
                                <input type="text" name="bookname" size="25" formControlName="bookname" placeholder=""
                                    [(ngModel)]="books.bookname"><br>
                            </div>
                            <div class="author">
                                <label for="author">Author</label><br>
                                <input type="text" name="author" size="25" formControlName="author" placeholder=""
                                    [(ngModel)]="books.author"><br>
                            </div>
                            <div class="price">
                                <label for="price">Price</label><br>
                                <input type="text" name="price" size="25" formControlName="price" placeholder=""
                                    [(ngModel)]="books.price"><br>
                            </div>
                            <div class="description">
                                <label for="description">Description</label><br>
                                <input type="text" name="description" size="53" formControlName="description"
                                    placeholder="" [(ngModel)]="books.description"><br>
                            </div>
                            <div class="publisher">
                                <label for="publisher">Publisher</label><br>
                                <select name="" id="" formControlName="publisher" placeholder=""
                                    [(ngModel)]="books.publisher">
                                    <option value="nxbtre">NXB Trẻ</option>
                                    <option value="nxbkimdong">NXB Kim Đồng</option>
                                </select><br>
                            </div>
                            <div class="category">
                                <label for="category">Category</label><br>
                                <input type="text" name="category" size="25" formControlName="category" placeholder=""
                                [(ngModel)]="books.category"><br>
                            </div>
                            <div class="status">
                                <label for="status">Status</label><br>
                                <input type="text" name="catstatusegory" size="25" formControlName="status" placeholder=""
                                [(ngModel)]="books.status"><br>
                            </div>
                            <div>
                                <button type="submit" (click)="update(formUpdate.value)">Update</button>
                                <button> <a class="" (click)="back()">Back</a></button>
                            </div>
                        </table>
                    </form>
                </div> -->
            </tbody>
            <button class="nav-item" (click)="add()">
                <a class="nav-link">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Add</span></a>
            </button>
        </table>
    </div>
    <!-- Table end -->
</div>